In [20]:
import pandas as pd

In [21]:
# Load Travel's Data In

In [22]:
travel = pd.read_csv('Travel_advisory.csv')

In [23]:
travel.columns = ['Advisory', 'Level', 'Date updated']

In [24]:
travel

,Advisory,Level,Date updated
0,North Macedonia Travel Advisory,Level 4: Do Not Travel,"April 20, 2021"
1,Nauru Travel Advisory,Level 4: Do Not Travel,"April 20, 2021"
2,Palau Travel Advisory,Level 2: Exercise Increased Caution,"April 20, 2021"
3,Burma (Myanmar) Travel Advisory,Level 4: Do Not Travel,"April 20, 2021"
4,Worldwide Caution,Caution,"January 15, 2019"
...,...,...,...
204,Georgia Travel Advisory,Level 4: Do Not Travel,"April 21, 2021"
205,Ghana Travel Advisory,Level 3: Reconsider Travel,"April 20, 2021"
206,Democratic Republic of the Congo Travel Advisory,Level 4: Do Not Travel,"April 21, 2021"
207,Republic of the Congo Travel Advisory,Level 4: Do Not Travel,"April 20, 2021"
208,Guinea-Bissau Travel Advisory,Level 4: Do Not Travel,"April 20, 2021"

In [26]:
pd.get_dummies(travel.Level)

,Caution,Level 2: Exercise Increased Caution,Level 3: Reconsider Travel,Level 4: Do Not Travel
0,0,0,0,1
1,0,0,0,1
2,0,1,0,0
3,0,0,0,1
4,1,0,0,0
...,...,...,...,...
204,0,0,0,1
205,0,0,1,0
206,0,0,0,1
207,0,0,0,1
208,0,0,0,1

In [12]:
travel.isnull().sum()

Advisory        0
Level           0
Date updated    0
dtype: int64

In [13]:
level = travel.groupby('Level')

In [19]:
level.first()

,Advisory,Date updated
Level,,
Caution,Worldwide Caution,"January 15, 2019"
Level 2: Exercise Increased Caution,Palau Travel Advisory,"April 20, 2021"
Level 3: Reconsider Travel,Angola Travel Advisory,"April 20, 2021"
Level 4: Do Not Travel,North Macedonia Travel Advisory,"April 20, 2021"